.e1_3 {
	background-color: rgba(255, 255, 255, 1);
	width: 1440px;
	height: 1024px;
	position: absolute;
	background-image: url(images/istockphoto_1296848705_612x612_2.png);
	background-repeat: repeat;
}

.e3_2 {
	background-color: rgba(132.06875324249268, 220.6748914718628, 240.12499898672104, 1);
	width: 1440px;
	height: 67px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e6_16 {
	width: 50.38194274902344px;
	height: 50px;
	position: absolute;
	left: 1014px;
	top: 9px;
}

.e8_24 {
	width: 50.38194274902344px;
	height: 50px;
	position: absolute;
	left: 1223.357666015625px;
	top: 9px;
}

.e8_33 {
	width: 50.38194274902344px;
	height: 50px;
	position: absolute;
	left: 1122px;
	top: 9px;
}

.e5_2 {
	color: rgba(0, 0, 0, 1);
	width: 148px;
	height: 50px;
	position: absolute;
	left: 4px;
	top: 15px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e8_640 {
	width: 50.31904220581055px;
	height: 50px;
	position: absolute;
	left: 1324.12158203125px;
	top: 8px;
}

.e8_146 {
	width: 451px;
	height: 764px;
	position: absolute;
	left: 152px;
	top: 166px;
	border-top-left-radius: 90px;
	border-top-right-radius: 90px;
	border-bottom-left-radius: 90px;
	border-bottom-right-radius: 90px;
	background-image: url(images/cat_november_2010_1a_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e8_276 {
	width: 636px;
	height: 356px;
	position: absolute;
	left: 657px;
	top: 548px;
	border-top-left-radius: 90px;
	border-top-right-radius: 90px;
	border-bottom-left-radius: 90px;
	border-bottom-right-radius: 90px;
	background-image: url(images/download_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e8_43 {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 636px;
	height: 384px;
	position: absolute;
	left: 657px;
	top: 144px;
	border-top-left-radius: 90px;
	border-top-right-radius: 90px;
	border-bottom-left-radius: 90px;
	border-bottom-right-radius: 90px;
	background-image: url(images/licensed_image_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
